// Padding's Up
.pd-up-25 {
    padding-top: 25px; 
}

.pd-up-50 {
    padding-top: 50px;
}

.pd-up-75 {
    padding-top: 75px;
}

.pd-up-100 {
    padding-top: 100px;
}

.pd-up-125 {
    padding-top: 125px;
}

.pd-up-150 {
    padding-top: 150px;
}

.pd-up-175 {
    padding-top: 175px;
}

.pd-up-200 {
    padding-top: 200px;
}

// /Padding's Up

// Padding's Down
.pd-dw-25 {
    padding-bottom: 25px;
}

.pd-dw-50 {
    padding-bottom: 50px;
}

.pd-dw-75 {
    padding-bottom: 75px;
}

.pd-dw-100 {
    padding-bottom: 100px;
}

.pd-dw-125 {
    padding-bottom: 125px;
}

.pd-dw-150 {
    padding-bottom: 150px;
}

.pd-dw-175 {
    padding-bottom: 175px;
}

.pd-dw-200 {
    padding-bottom: 200px;
}
// /Padding's Down

// Padding's Left
.pd-left-25 {
    padding-left: 25px;
}

.pd-left-50 {
    padding-left: 50px;
}

.pd-left-75 {
    padding-left: 75px;
}

.pd-left-100 {
    padding-left: 100px;
}

.pd-left-125 {
    padding-left: 125px;
}

.pd-left-150 {
    padding-left: 150px;
}

.pd-left-175 {
    padding-left: 175px;
}

.pd-left-200 {
    padding-left: 200px;
}

// /Padding's Left

// Padding's Right

.pd-right-25 {
    padding-right: 25px;
}

.pd-right-50 {
    padding-right: 50px;
}

.pd-right-75 {
    padding-right: 75px;
}

.pd-right-100 {
    padding-right: 100px;
}

.pd-right-125 {
    padding-right: 125px;
}

.pd-right-150 {
    padding-right: 150px;
}

.pd-right-175 {
    padding-right: 175px;
}

.pd-right-200 {
    padding-right: 200px;
}

.pd-25 {
    padding: 25px;
}

.pd-50 {
    padding: 50px;
}

.pd-75 {
    padding: 75px;
}

.pd-100 {
    padding: 100px;
}

.pd-125 {
    padding: 125px;
}

.pd-150 {
    padding: 150px;
}

.pd-175 {
    padding: 175px;
}

.pd-200 {
    padding: 200px;
}